$qc-blue: #06408b;
$qc-darkblue: #0a1a5c;
$qc-yellow: #e5ca00;
$qc-red: #ef4042;
$qc-green: #c3dfa4;
$qc-black: #271e00;

$theme-colors: (dark: $qc-darkblue,
  light: $qc-blue,
  primary: $qc-darkblue);

$link-color: $qc-blue !default;
$link-hover-color: $qc-yellow !default;

@import "../node_modules/bootstrap/scss/bootstrap";